.conection_test_box{
    height: 100%;
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.conection_test_box_card{
    width: min(95%, 500px);
    height: 300px;
    box-shadow: 0px 9px 14px rgba(0, 0, 0, 0.25);
    border: 1px solid var(--purple-t);
    border-radius: 8px;
    padding: .5rem;
}

.conection_test_box_card{
    font-size: 24px;
}

.conection_test_box_card_control{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.conection_test_box_card_title{
    font-size: 16px;

    display: flex;
    align-items: center;
    color: var(--title);
    font-weight: bold;
    padding: .5rem .5rem 0rem .5rem;
}

.conection_test_box_card_title svg{
    margin-left: .5rem;
}

.conection_test_box_card_sub{
    font-size: 22px;
    margin-left: .5rem;
    color: var(--purple);
    font-weight: bolder;
}